<div class="container">
  <h2>Upload Photo</h2>
  <form (ngSubmit)="onSubmit()" #uploadForm="ngForm">
    <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*">

    <mat-form-field>
      <mat-label>Description:</mat-label>
      <input matInput type="text" id="description" [(ngModel)]="photo.description" name="description">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tags:</mat-label>
      <input matInput type="text" id="tags" [(ngModel)]="tags" name="tags">
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!uploadForm.form.valid">Upload</button>
  </form>
</div>
